# U.S. Income Distribution

In [1]:
# Imports

from datapackage import Package
from tableschema import Storage
from swf.datapackage import load

In [2]:
descriptor = 'http://datahub.io/quidproquo/2016-survey-of-consumer-finances-summary-extract/datapackage.json'
df = load(descriptor)
display(df.head())

,Unnamed: 0,Y1,YY1,wgt,hhsex,age,agecl,educ,edcl,married,...,LLOAN11,LLOAN12,nwcat,inccat,assetcat,ninccat,NINC2CAT,nwpctlecat,incpctlecat,nincpctlecat
0,0,11,1,6427.136676,2,71,5,10,3,2,...,0,0,3,1,3,1,1,7,1,1
1,1,12,1,6428.350592,2,71,5,10,3,2,...,0,0,3,1,3,1,1,7,1,1
2,2,13,1,6414.477294,2,71,5,10,3,2,...,0,0,3,1,3,1,1,7,1,1
3,3,14,1,6428.487972,2,71,5,10,3,2,...,0,0,3,1,3,1,1,7,1,1
4,4,15,1,6425.256822,2,71,5,10,3,2,...,0,0,3,1,3,1,1,7,1,1